<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" type="text/css" media="screen" href="./css/style.css">
    <script src="main.js"></script>
</head>
<body>
    <div class="main-content">
        {{> header}}
        <div class="body-head">
            <img class="avatarImage" src="./img/avatar.jpg" alt="about avatar">
            {{!-- <span class="desc-text">Chinedu Dara</span> --}}
        </div>
        <p class="body-text">This is a weather app built on NodeJs. Two APIs are being used to obtain the data. 
            <ul>
                <li>Google Maps Geocode Api to fetch location coordinates.</li>
                <li>DarkSky weather Api to fetch realtime weather forecast.</li>
            </ul> 
        </p>
    </div>
    {{> footer}}
</body>
</html>