<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" type="text/css" media="screen" href="./css/style.css">
</head>
<body>
    <div class="main-content">
        {{> header}}
        <form action="">
            <input type="text" name="address" id="addr" placeholder="Enter location address">
            <input type="submit" value="fetch" id="fetch">
            
            <p id="status"></p>
            <div id="result">
                <p>
                    <label for="address">Address</label>
                    <span id="address"></span>
                </p>
                <p>
                    <span id="temperature"></span>째C but feels like 
                    <span id="apparentTemp"></span>째C
                </p>
                <span>
                    <label for="">Chances of Rainfall: </label><span id="precipProbabilityToday"></span>%
                </p>
                <p>
                    <label for="">Highest Temperature:</label>
                    <span id="tempTodayHigh"></span>째C at 
                    <span id="tempTodayHighTime"></span>
                </p>
                <p>
                    <label for="">Lowest Temperature:</label>
                    <span id="tempTodayLow"></span>째C at <span id="tempTodayLowTime"></span>
                </p>
                <p id="summaryToday"></p>
            </div>
        </form>
    </div>
    {{> footer}}
    <script src="./scripts/main.js"></script>
</body>
</html>